<div class="flex justify-center scroll-smooth dark:bg-zinc-900 dark:text-white">
  <app-theme></app-theme>
  <main class="mr-24 max-w-3xl">
    <article lang="en-us">
      <header class="mt-20 mb-7">
        <h1 class="mb-4 text-left text-5xl font-semibold">Topic</h1>
        <p class="text-lg leading-relaxed">
          This is a guide to properly using this service.
        </p>
      </header>

      <section class="mb-7" aria-labelledby="overview" #section>
        <h2 id="overview" class="mb-4 text-left text-4xl font-medium}">
          <a
            href="#overview"
            (click)="scrollToSection($event, 'overview')"
            class="hover:underline"
          >
            Overview
          </a>
        </h2>

        <p class="text-lg leading-relaxed">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi ultrices tortor laoreet magna rhoncus porta.
          Vestibulum dignissim pretium accumsan. Duis lobortis blandit lorem, non consectetur ante mollis eu.
          Morbi tincidunt finibus orci, in fringilla diam eleifend in. Fusce in risus consequat, convallis ex ac, vestibulum sapien.
          Ut egestas efficitur quam eget suscipit. Donec volutpat ipsum nec mi consectetur, sit amet fringilla augue imperdiet.
          Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.
          Pellentesque vel mauris vitae nisl cursus blandit. Vestibulum placerat nulla et arcu scelerisque ornare.
          Phasellus molestie ac mauris non ultricies.
        </p><br />

        <p class="text-lg leading-relaxed">
          Mauris congue in erat ac interdum.
          Aliquam quis malesuada ligula, eu venenatis nunc. Suspendisse sapien eros, tincidunt non consequat a, aliquam et eros.
          Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Proin egestas metus ultricies,
          condimentum dolor molestie, maximus velit. Duis sollicitudin tellus quam, a sollicitudin nunc elementum tempor.
          Nam ultrices justo nec enim luctus pharetra.
        </p><br />

        <p class="text-lg leading-relaxed">
          Suspendisse auctor iaculis ipsum sit amet laoreet. Nunc sed velit mattis, viverra sem eget, fringilla purus.
          Vivamus eget porta nisl, sit amet convallis urna. Aenean sodales est non risus viverra, varius dictum orci ornare.
          Nunc eu purus mattis, dictum nibh sit amet, rhoncus dui. In dictum, lorem vel gravida sollicitudin, urna erat lacinia eros,
          quis eleifend metus risus ac turpis. Nulla ac congue tortor.
        </p><br />

        <p class="text-lg leading-relaxed">
          Etiam id orci sodales, iaculis lacus eget, pretium nisl. Sed ac aliquam nulla. Pellentesque at lobortis tellus.
          Maecenas volutpat, mauris vel luctus sodales, elit purus volutpat magna, ac laoreet dolor tellus id ante.
          Fusce lacinia risus quis eleifend cursus. Phasellus accumsan efficitur molestie. Sed scelerisque maximus quam,
          vel condimentum velit interdum feugiat. Morbi ac risus tellus. Pellentesque non faucibus ante. Morbi nulla ex,
          ornare at commodo a, ullamcorper ac purus. Vestibulum feugiat nisl eget mauris tempor eleifend. Maecenas a pretium tortor,
          quis placerat augue. Praesent in enim ante. Morbi dictum tortor et malesuada bibendum. Aliquam gravida facilisis felis,
          a accumsan neque egestas sit amet.
        </p><br />


        <p class="text-lg leading-relaxed">
          Donec convallis congue consectetur. Aliquam vel lacus varius lectus rutrum bibendum ut ac mauris. Duis id dui vitae neque
          facilisis porta. Duis eu ex id urna efficitur dignissim a nec odio. Nullam a lectus nunc. Vivamus vulputate, ante sit amet
          fermentum interdum, sem orci fermentum purus, a condimentum mauris nunc sed lorem. Nullam tincidunt nec felis vitae viverra.
          Praesent in mauris sit amet enim suscipit ornare. Pellentesque in fermentum nisi. Nulla at libero est.
          Vivamus dignissim risus et pellentesque aliquet.
        </p><br />
      </section>

      <section class="mb-7" aria-labelledby="topic1" #section>
        <h2 id="topic1" class="mb-4 text-left text-4xl font-medium">
          <a
            href="#topic1"
            (click)="scrollToSection($event, 'topic1')"
            class="hover:underline"
          >
            Topic 1
          </a>
        </h2>

        <p class="text-lg leading-relaxed">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi ultrices tortor laoreet magna rhoncus porta.
          Vestibulum dignissim pretium accumsan. Duis lobortis blandit lorem, non consectetur ante mollis eu.
          Morbi tincidunt finibus orci, in fringilla diam eleifend in. Fusce in risus consequat, convallis ex ac, vestibulum sapien.
          Ut egestas efficitur quam eget suscipit. Donec volutpat ipsum nec mi consectetur, sit amet fringilla augue imperdiet.
          Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.
          Pellentesque vel mauris vitae nisl cursus blandit. Vestibulum placerat nulla et arcu scelerisque ornare.
          Phasellus molestie ac mauris non ultricies.
        </p><br />

        <p class="text-lg leading-relaxed">
          Mauris congue in erat ac interdum.
          Aliquam quis malesuada ligula, eu venenatis nunc. Suspendisse sapien eros, tincidunt non consequat a, aliquam et eros.
          Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Proin egestas metus ultricies,
          condimentum dolor molestie, maximus velit. Duis sollicitudin tellus quam, a sollicitudin nunc elementum tempor.
          Nam ultrices justo nec enim luctus pharetra.
        </p><br />

        <p class="text-lg leading-relaxed">
          Suspendisse auctor iaculis ipsum sit amet laoreet. Nunc sed velit mattis, viverra sem eget, fringilla purus.
          Vivamus eget porta nisl, sit amet convallis urna. Aenean sodales est non risus viverra, varius dictum orci ornare.
          Nunc eu purus mattis, dictum nibh sit amet, rhoncus dui. In dictum, lorem vel gravida sollicitudin, urna erat lacinia eros,
          quis eleifend metus risus ac turpis. Nulla ac congue tortor.
        </p><br />

        <p class="text-lg leading-relaxed">
          Etiam id orci sodales, iaculis lacus eget, pretium nisl. Sed ac aliquam nulla. Pellentesque at lobortis tellus.
          Maecenas volutpat, mauris vel luctus sodales, elit purus volutpat magna, ac laoreet dolor tellus id ante.
          Fusce lacinia risus quis eleifend cursus. Phasellus accumsan efficitur molestie. Sed scelerisque maximus quam,
          vel condimentum velit interdum feugiat. Morbi ac risus tellus. Pellentesque non faucibus ante. Morbi nulla ex,
          ornare at commodo a, ullamcorper ac purus. Vestibulum feugiat nisl eget mauris tempor eleifend. Maecenas a pretium tortor,
          quis placerat augue. Praesent in enim ante. Morbi dictum tortor et malesuada bibendum. Aliquam gravida facilisis felis,
          a accumsan neque egestas sit amet.
        </p><br />


        <p class="text-lg leading-relaxed">
          Donec convallis congue consectetur. Aliquam vel lacus varius lectus rutrum bibendum ut ac mauris. Duis id dui vitae neque
          facilisis porta. Duis eu ex id urna efficitur dignissim a nec odio. Nullam a lectus nunc. Vivamus vulputate, ante sit amet
          fermentum interdum, sem orci fermentum purus, a condimentum mauris nunc sed lorem. Nullam tincidunt nec felis vitae viverra.
          Praesent in mauris sit amet enim suscipit ornare. Pellentesque in fermentum nisi. Nulla at libero est.
          Vivamus dignissim risus et pellentesque aliquet.
        </p><br />
      </section>

      <section class="mb-7" aria-labelledby="topic2" #section>
        <h2 id="topic2" class="mb-4 text-left text-4xl font-medium">
          <a
            href="#topic2"
            (click)="scrollToSection($event, 'topic2')"
            class="hover:underline"
          >
            Topic 2
          </a>
        </h2>

        <p class="text-lg leading-relaxed">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi ultrices tortor laoreet magna rhoncus porta.
          Vestibulum dignissim pretium accumsan. Duis lobortis blandit lorem, non consectetur ante mollis eu.
          Morbi tincidunt finibus orci, in fringilla diam eleifend in. Fusce in risus consequat, convallis ex ac, vestibulum sapien.
          Ut egestas efficitur quam eget suscipit. Donec volutpat ipsum nec mi consectetur, sit amet fringilla augue imperdiet.
          Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.
          Pellentesque vel mauris vitae nisl cursus blandit. Vestibulum placerat nulla et arcu scelerisque ornare.
          Phasellus molestie ac mauris non ultricies.
        </p><br />

        <p class="text-lg leading-relaxed">
          Mauris congue in erat ac interdum.
          Aliquam quis malesuada ligula, eu venenatis nunc. Suspendisse sapien eros, tincidunt non consequat a, aliquam et eros.
          Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Proin egestas metus ultricies,
          condimentum dolor molestie, maximus velit. Duis sollicitudin tellus quam, a sollicitudin nunc elementum tempor.
          Nam ultrices justo nec enim luctus pharetra.
        </p><br />

        <p class="text-lg leading-relaxed">
          Suspendisse auctor iaculis ipsum sit amet laoreet. Nunc sed velit mattis, viverra sem eget, fringilla purus.
          Vivamus eget porta nisl, sit amet convallis urna. Aenean sodales est non risus viverra, varius dictum orci ornare.
          Nunc eu purus mattis, dictum nibh sit amet, rhoncus dui. In dictum, lorem vel gravida sollicitudin, urna erat lacinia eros,
          quis eleifend metus risus ac turpis. Nulla ac congue tortor.
        </p><br />

        <p class="text-lg leading-relaxed">
          Etiam id orci sodales, iaculis lacus eget, pretium nisl. Sed ac aliquam nulla. Pellentesque at lobortis tellus.
          Maecenas volutpat, mauris vel luctus sodales, elit purus volutpat magna, ac laoreet dolor tellus id ante.
          Fusce lacinia risus quis eleifend cursus. Phasellus accumsan efficitur molestie. Sed scelerisque maximus quam,
          vel condimentum velit interdum feugiat. Morbi ac risus tellus. Pellentesque non faucibus ante. Morbi nulla ex,
          ornare at commodo a, ullamcorper ac purus. Vestibulum feugiat nisl eget mauris tempor eleifend. Maecenas a pretium tortor,
          quis placerat augue. Praesent in enim ante. Morbi dictum tortor et malesuada bibendum. Aliquam gravida facilisis felis,
          a accumsan neque egestas sit amet.
        </p><br />


        <p class="text-lg leading-relaxed">
          Donec convallis congue consectetur. Aliquam vel lacus varius lectus rutrum bibendum ut ac mauris. Duis id dui vitae neque
          facilisis porta. Duis eu ex id urna efficitur dignissim a nec odio. Nullam a lectus nunc. Vivamus vulputate, ante sit amet
          fermentum interdum, sem orci fermentum purus, a condimentum mauris nunc sed lorem. Nullam tincidunt nec felis vitae viverra.
          Praesent in mauris sit amet enim suscipit ornare. Pellentesque in fermentum nisi. Nulla at libero est.
          Vivamus dignissim risus et pellentesque aliquet.
        </p><br />
      </section>

      <section class="mb-7" aria-labelledby="topic3" #section>
        <h2 id="topic3" class="mb-4 text-left text-4xl font-medium">
          <a
            href="#topic3"
            (click)="scrollToSection($event, 'topic3')"
            class="hover:underline"
          >
            Topic 3
          </a>
        </h2>

        <p class="text-lg leading-relaxed">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi ultrices tortor laoreet magna rhoncus porta.
          Vestibulum dignissim pretium accumsan. Duis lobortis blandit lorem, non consectetur ante mollis eu.
          Morbi tincidunt finibus orci, in fringilla diam eleifend in. Fusce in risus consequat, convallis ex ac, vestibulum sapien.
          Ut egestas efficitur quam eget suscipit. Donec volutpat ipsum nec mi consectetur, sit amet fringilla augue imperdiet.
          Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.
          Pellentesque vel mauris vitae nisl cursus blandit. Vestibulum placerat nulla et arcu scelerisque ornare.
          Phasellus molestie ac mauris non ultricies.
        </p><br />

        <p class="text-lg leading-relaxed">
          Mauris congue in erat ac interdum.
          Aliquam quis malesuada ligula, eu venenatis nunc. Suspendisse sapien eros, tincidunt non consequat a, aliquam et eros.
          Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Proin egestas metus ultricies,
          condimentum dolor molestie, maximus velit. Duis sollicitudin tellus quam, a sollicitudin nunc elementum tempor.
          Nam ultrices justo nec enim luctus pharetra.
        </p><br />

        <p class="text-lg leading-relaxed">
          Suspendisse auctor iaculis ipsum sit amet laoreet. Nunc sed velit mattis, viverra sem eget, fringilla purus.
          Vivamus eget porta nisl, sit amet convallis urna. Aenean sodales est non risus viverra, varius dictum orci ornare.
          Nunc eu purus mattis, dictum nibh sit amet, rhoncus dui. In dictum, lorem vel gravida sollicitudin, urna erat lacinia eros,
          quis eleifend metus risus ac turpis. Nulla ac congue tortor.
        </p><br />

        <p class="text-lg leading-relaxed">
          Etiam id orci sodales, iaculis lacus eget, pretium nisl. Sed ac aliquam nulla. Pellentesque at lobortis tellus.
          Maecenas volutpat, mauris vel luctus sodales, elit purus volutpat magna, ac laoreet dolor tellus id ante.
          Fusce lacinia risus quis eleifend cursus. Phasellus accumsan efficitur molestie. Sed scelerisque maximus quam,
          vel condimentum velit interdum feugiat. Morbi ac risus tellus. Pellentesque non faucibus ante. Morbi nulla ex,
          ornare at commodo a, ullamcorper ac purus. Vestibulum feugiat nisl eget mauris tempor eleifend. Maecenas a pretium tortor,
          quis placerat augue. Praesent in enim ante. Morbi dictum tortor et malesuada bibendum. Aliquam gravida facilisis felis,
          a accumsan neque egestas sit amet.
        </p><br />


        <p class="text-lg leading-relaxed">
          Donec convallis congue consectetur. Aliquam vel lacus varius lectus rutrum bibendum ut ac mauris. Duis id dui vitae neque
          facilisis porta. Duis eu ex id urna efficitur dignissim a nec odio. Nullam a lectus nunc. Vivamus vulputate, ante sit amet
          fermentum interdum, sem orci fermentum purus, a condimentum mauris nunc sed lorem. Nullam tincidunt nec felis vitae viverra.
          Praesent in mauris sit amet enim suscipit ornare. Pellentesque in fermentum nisi. Nulla at libero est.
          Vivamus dignissim risus et pellentesque aliquet.
        </p><br />
      </section>

      <section class="mb-7" aria-labelledby="topic4" #section>
        <h2 id="topic4" class="mb-4 text-left text-4xl font-medium">
          <a
            href="#topic4"
            (click)="scrollToSection($event, 'topic4')"
            class="hover:underline"
          >
            Topic 4
          </a>
        </h2>

        <p class="text-lg leading-relaxed">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi ultrices tortor laoreet magna rhoncus porta.
          Vestibulum dignissim pretium accumsan. Duis lobortis blandit lorem, non consectetur ante mollis eu.
          Morbi tincidunt finibus orci, in fringilla diam eleifend in. Fusce in risus consequat, convallis ex ac, vestibulum sapien.
          Ut egestas efficitur quam eget suscipit. Donec volutpat ipsum nec mi consectetur, sit amet fringilla augue imperdiet.
          Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.
          Pellentesque vel mauris vitae nisl cursus blandit. Vestibulum placerat nulla et arcu scelerisque ornare.
          Phasellus molestie ac mauris non ultricies.
        </p><br />

        <p class="text-lg leading-relaxed">
          Mauris congue in erat ac interdum.
          Aliquam quis malesuada ligula, eu venenatis nunc. Suspendisse sapien eros, tincidunt non consequat a, aliquam et eros.
          Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Proin egestas metus ultricies,
          condimentum dolor molestie, maximus velit. Duis sollicitudin tellus quam, a sollicitudin nunc elementum tempor.
          Nam ultrices justo nec enim luctus pharetra.
        </p><br />

        <p class="text-lg leading-relaxed">
          Suspendisse auctor iaculis ipsum sit amet laoreet. Nunc sed velit mattis, viverra sem eget, fringilla purus.
          Vivamus eget porta nisl, sit amet convallis urna. Aenean sodales est non risus viverra, varius dictum orci ornare.
          Nunc eu purus mattis, dictum nibh sit amet, rhoncus dui. In dictum, lorem vel gravida sollicitudin, urna erat lacinia eros,
          quis eleifend metus risus ac turpis. Nulla ac congue tortor.
        </p><br />

        <p class="text-lg leading-relaxed">
          Etiam id orci sodales, iaculis lacus eget, pretium nisl. Sed ac aliquam nulla. Pellentesque at lobortis tellus.
          Maecenas volutpat, mauris vel luctus sodales, elit purus volutpat magna, ac laoreet dolor tellus id ante.
          Fusce lacinia risus quis eleifend cursus. Phasellus accumsan efficitur molestie. Sed scelerisque maximus quam,
          vel condimentum velit interdum feugiat. Morbi ac risus tellus. Pellentesque non faucibus ante. Morbi nulla ex,
          ornare at commodo a, ullamcorper ac purus. Vestibulum feugiat nisl eget mauris tempor eleifend. Maecenas a pretium tortor,
          quis placerat augue. Praesent in enim ante. Morbi dictum tortor et malesuada bibendum. Aliquam gravida facilisis felis,
          a accumsan neque egestas sit amet.
        </p><br />


        <p class="text-lg leading-relaxed">
          Donec convallis congue consectetur. Aliquam vel lacus varius lectus rutrum bibendum ut ac mauris. Duis id dui vitae neque
          facilisis porta. Duis eu ex id urna efficitur dignissim a nec odio. Nullam a lectus nunc. Vivamus vulputate, ante sit amet
          fermentum interdum, sem orci fermentum purus, a condimentum mauris nunc sed lorem. Nullam tincidunt nec felis vitae viverra.
          Praesent in mauris sit amet enim suscipit ornare. Pellentesque in fermentum nisi. Nulla at libero est.
          Vivamus dignissim risus et pellentesque aliquet.
        </p><br />
      </section>

      <section class="mb-7" aria-labelledby="topic5" #section>
        <h2 id="topic5" class="mb-4 text-left text-4xl font-medium">
          <a
            href="#topic5"
            (click)="scrollToSection($event, 'topic5')"
            class="hover:underline"
          >
            Topic 5
          </a>
        </h2>

        <p class="text-lg leading-relaxed">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi ultrices tortor laoreet magna rhoncus porta.
          Vestibulum dignissim pretium accumsan. Duis lobortis blandit lorem, non consectetur ante mollis eu.
          Morbi tincidunt finibus orci, in fringilla diam eleifend in. Fusce in risus consequat, convallis ex ac, vestibulum sapien.
          Ut egestas efficitur quam eget suscipit. Donec volutpat ipsum nec mi consectetur, sit amet fringilla augue imperdiet.
          Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.
          Pellentesque vel mauris vitae nisl cursus blandit. Vestibulum placerat nulla et arcu scelerisque ornare.
          Phasellus molestie ac mauris non ultricies.
        </p><br />

        <p class="text-lg leading-relaxed">
          Mauris congue in erat ac interdum.
          Aliquam quis malesuada ligula, eu venenatis nunc. Suspendisse sapien eros, tincidunt non consequat a, aliquam et eros.
          Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Proin egestas metus ultricies,
          condimentum dolor molestie, maximus velit. Duis sollicitudin tellus quam, a sollicitudin nunc elementum tempor.
          Nam ultrices justo nec enim luctus pharetra.
        </p><br />

        <p class="text-lg leading-relaxed">
          Suspendisse auctor iaculis ipsum sit amet laoreet. Nunc sed velit mattis, viverra sem eget, fringilla purus.
          Vivamus eget porta nisl, sit amet convallis urna. Aenean sodales est non risus viverra, varius dictum orci ornare.
          Nunc eu purus mattis, dictum nibh sit amet, rhoncus dui. In dictum, lorem vel gravida sollicitudin, urna erat lacinia eros,
          quis eleifend metus risus ac turpis. Nulla ac congue tortor.
        </p><br />

        <p class="text-lg leading-relaxed">
          Etiam id orci sodales, iaculis lacus eget, pretium nisl. Sed ac aliquam nulla. Pellentesque at lobortis tellus.
          Maecenas volutpat, mauris vel luctus sodales, elit purus volutpat magna, ac laoreet dolor tellus id ante.
          Fusce lacinia risus quis eleifend cursus. Phasellus accumsan efficitur molestie. Sed scelerisque maximus quam,
          vel condimentum velit interdum feugiat. Morbi ac risus tellus. Pellentesque non faucibus ante. Morbi nulla ex,
          ornare at commodo a, ullamcorper ac purus. Vestibulum feugiat nisl eget mauris tempor eleifend. Maecenas a pretium tortor,
          quis placerat augue. Praesent in enim ante. Morbi dictum tortor et malesuada bibendum. Aliquam gravida facilisis felis,
          a accumsan neque egestas sit amet.
        </p><br />


        <p class="text-lg leading-relaxed">
          Donec convallis congue consectetur. Aliquam vel lacus varius lectus rutrum bibendum ut ac mauris. Duis id dui vitae neque
          facilisis porta. Duis eu ex id urna efficitur dignissim a nec odio. Nullam a lectus nunc. Vivamus vulputate, ante sit amet
          fermentum interdum, sem orci fermentum purus, a condimentum mauris nunc sed lorem. Nullam tincidunt nec felis vitae viverra.
          Praesent in mauris sit amet enim suscipit ornare. Pellentesque in fermentum nisi. Nulla at libero est.
          Vivamus dignissim risus et pellentesque aliquet.
        </p><br />
      </section>
    </article>
  </main>

  <div id="sidebar-container">
    <aside
      id="default-sidebar"
      class="fixed text-2xl top-20 right-30 z-40 w-64 h-screen transition-transform -translate-x-full sm:translate-x-0"
      aria-label="Sidebar"
    >
      <nav>
        <div class="h-full px-3 pb-4 overflow-y-auto">
          <section>
            <header class="mb-4 text-3xl">
              <h2>Jump To</h2>
            </header>

            <ul class="space-y-5 border-l border-gray-300">
              <li [ngClass]="{'bg-blue-100 dark:bg-blue-300 font-semibold': currentSection === 'overview'}">
                <a
                  href="#overview"
                  (click)="scrollToSection($event, 'overview')"
                  class="flex items-center p-2 text-gray-600 dark:text-gray-600 rounded-lg hover:text-blue-600 group"
                >
                  <span class="ms-3">Overview</span>
                </a>
              </li>
              <li [ngClass]="{'bg-blue-100 dark:bg-blue-300 font-semibold': currentSection === 'topic1'}">
                <a
                  href="#topic1"
                  (click)="scrollToSection($event, 'topic1')"
                  class="flex items-center p-2 text-gray-600 rounded-lg hover:text-blue-600 group"
                >
                  <span class="flex-1 ms-3 whitespace-wrap">Topic 1</span>
                </a>
              </li>
              <li [ngClass]="{'bg-blue-100 dark:bg-blue-300 font-semibold': currentSection === 'topic2'}">
                <a
                  href="#topic2"
                  (click)="scrollToSection($event, 'topic2')"
                  class="flex items-center p-2 text-gray-600 rounded-lg hover:text-blue-600 group"
                >
                  <span class="flex-1 ms-3 whitespace-wrap">Topic 2</span>
                </a>
              </li>
              <li [ngClass]="{'bg-blue-100 dark:bg-blue-300 font-semibold': currentSection === 'topic3'}">
                <a
                  href="#topic3"
                  (click)="scrollToSection($event, 'topic3')"
                  class="flex items-center p-2 text-gray-600 rounded-lg hover:text-blue-600 group"
                >
                  <span class="flex-1 ms-3 whitespace-wrap">Topic 3</span>
                </a>
              </li>
              <li [ngClass]="{'bg-blue-100 dark:bg-blue-300 font-semibold': currentSection === 'topic4'}">
                <a
                  href="#topic4"
                  (click)="scrollToSection($event, 'topic4')"
                  class="flex items-center p-2 text-gray-600 rounded-lg hover:text-blue-600 group"
                >
                  <span class="flex-1 ms-3 whitespace-wrap">Topic 4</span>
                </a>
              </li>
              <li [ngClass]="{'bg-blue-100 dark:bg-blue-300 font-semibold': currentSection === 'topic5'}">
                <a
                  href="#topic5"
                  (click)="scrollToSection($event, 'topic5')"
                  class="scroll-smooth flex items-center p-2 text-gray-600 rounded-lg hover:text-blue-600 group"
                >
                  <span class="flex-1 ms-3 whitespace-wrap">Topic 5</span>
                </a>
              </li>
            </ul>
          </section>
        </div>
      </nav>
    </aside>
  </div>
</div>

