<div class="flex justify-center scroll-smooth dark:bg-zinc-900 dark:text-white">
  <main class="mr-24 max-w-3xl min-h-screen">
    <article lang="en-us">
      <header class="mt-20 mb-7" #section>
        <h1 class="mb-4 text-left text-5xl font-semibold">{{ content.Headers[0] }}</h1>
        <p class="text-lg leading-relaxed">
          {{ content.Paragraphs[0] }}
        </p>
      </header>

      <div *ngFor="let header of content.Headers | slice:1; let i = index">
        <section [attr.aria-labelledby]="header" class="mb-7" #section>
          <h2 [id]="header" class="mb-4 text-left text-4xl font-medium">
            <a
              href="#{{ header }}"
              (click)="scrollToSection($event, header)"
              class="hover:underline">
              {{ header }}
            </a>
          </h2>

          <div *ngIf="content.Paragraphs[i + 1]">
            <p class="text-lg leading-relaxed">
              {{ content.Paragraphs[i + 1] }}
            </p>
          </div>
        </section>
      </div>
    </article>
  </main>

  <app-theme></app-theme>
</div>
